.container2 {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
  height: 100vh;
 
}
.imgAbout {
  width: 20vw;

  box-shadow:3px 3px 3px 1px rgb(0 0 0 / 30%);
}
.content2{
    flex: 3;
    margin-left: 15%;
    align-items: center;
   
   
}
.imgContainer2{
    flex: 2;
    width: auto;
    
}
.content2 h1{
    font-size: 40px;
    padding-bottom:50px;
    font-weight: 700;
}
.container2 p {
  width: 80%;
  text-align: justify;
}