.container1{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
background-color: rgb(249 243 234);
}
.content1{
flex: 2;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;

}
.background1{
flex: 1;
background-image:url(../../assets/background1.jpg);
height: 100%;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
box-shadow: 0 0 10px rgba(0, 0 , 0, 0.3);
}

  .mainsection{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
    align-items: start;
    gap: 40px;
  }
  .mainsection h1{
    font-size: 4rem;
    
  }
 .mainsection .navbar{
  margin-right: 30%;
 }
 @media (max-width: 1024px) {
  .mainsection {
    width: 80%;
    gap: 30px;
  }

  .mainsection h1 {
    font-size: 3rem;
  }

  .mainsection .navbar {
    margin-right: 0%;
  }

  .background1 {
    box-shadow: none;
  }
  .mainsection p{
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
   
  }

  .content1 {
    width: 90%;
   margin: auto;
   flex: 2;
  }

  .background1 {
    width: 100%;
    flex: 3;
  }

  .mainsection {
    width: 90%;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .mainsection h1 {
    font-size: 2.5rem;
  }

  .mainsection .navbar {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .mainsection h1 {
    font-size: 2rem;
  }

  .mainsection {
    width: 100%;
    gap: 15px;
  }

}